/* IMPORTS */
@import url(//db.onlinewebfonts.com/c/792b4087f789a3dcdbabb4c24d5028d1?family=MagistralExtraCondW08-Book);
@font-face {
    font-family: "MagistralExtraCondW08-Book"; 
    src: url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.eot"); 
    src: url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/792b4087f789a3dcdbabb4c24d5028d1.svg#MagistralExtraCondW08-Book") format("svg"); 
}

/* CORE STYLES */

::-webkit-scrollbar {
    display: none;
}

/* * {
    margin: 0;
    padding: 0;
} */

*, html, body {
    scroll-behavior: smooth;
}

body {
    z-index: -2;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color:  #fff;
    font-size: 1.1em;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
/* header {
    /* margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
} */

img {
    display: block;
    width:  100%;
    height: auto;
}

h1, h2, h3, h4 {
    margin: 0;
    padding-top: .5em;
}

p {
    margin: 0;
    padding-top: .5em;
}

a {
    text-decoration: none;
    color: none;
}

/* HEADER SHOWCASE STYLING */

#showcase {
    min-height: 280px;
    max-width: 100%;
    color: #fff;
    text-align: center;
    align-content: center;
    overflow: hidden;

}

nav {
    /* height: 100%; */
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    position: relative;
    top: 0;
    /* max-height: 100%; */
    /* max-width: 100%;
    overflow: hidden; */
}

#showcase h1 {
    padding-top: 0;
    padding-bottom:0;
}

#showcase h1 a {
    font-family: 'MagistralExtraCondW08-Book', serif;
    position: absolute;
    top: 120px;
    transform: translateY(-50%) translateX(-50%);
    margin: 0em;
    padding: .5em 100% .5em 100%;
    font-size: 1.9em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    /* text-shadow: 0 5px 10px rgba(0,0,0,1); */
    mix-blend-mode: soft-light;
    /* box-shadow: 0 5px 10px rgba(0,0,0,1); */
    background: rgba(108, 24, 139, 0.8);
}

#showcase .bg-image {
    position: absolute;
    background: #333 url("./images/imp_promo00009.jpeg");
    background-position: center;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;;
}

/* #showcase .content-wrap,
#section-a .content-wrap{
    padding: 0 1.5em;
} */

/* nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
} */

.navbar {
    position: sticky;
    top: 0;
}

.navbar ul {
    /* position: absolute; */
    position: sticky;
    width: 100%;
    top: 258px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgba(106, 59, 151, 0.498);
    overflow: hidden;
    z-index: 10;
    /* display: block; */
    /* align-items: center; */
    /* position: absolute; */
    /* top: 250px;
    list-style: none;
    border: 2px red; */
}

.navbar ul li {
    display: inline-block;
    margin: 0;
    padding: 0px;
    height: auto;
    /* color: white; */
    /* margin: 0 .5px 0 .5px;
    width: 96px;
    height: 40px;
    padding: 0px; */
}

.hidden {
    position: absolute;
    right: 1000px;
    display: block;
    visibility: hidden;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 0px 0px;
    align-items: center;
    font-size: 0.7em;
    color: inherit;
    background: transparent;
    padding: 4px 2px 4px 2px;
    width: 70px;
    height: auto;
    transition: .5s;
}

.active {
    background: #eaeaea;
    color: black;
}

.hover {
    background: #eaeaea;
    color: black;
}

/* INTRO */

#intro {
    background: #eaeaea;
    color: #333;
}

#intro h4 {
    display: inline-block;
    max-width: 570px;
    font-size: .9em;
    padding-top: 0em;
    color: rgb(96, 96, 96);
    font-style: italic;
}

#intro .content-wrap {
    padding: 1em;
}

.content-text {
    padding-bottom: 0.5em;
}

#intro p {
    padding-top: 1em;
}

/* SECTION A */

#sectionA {
    padding: 0.5em;
    background-color: rgb(79, 79, 79);
}

#sectionA ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sectionA li {
    background: #fff;
    color: #333;
    margin: 1em;
}

.card-content {
    padding: 0.5em 1em 1em 1em;

}

.card{
    box-shadow: 0 5px 10px rgba(0,0,0,1);
}

/* SECTION B */

#sectionB {
    background: rgb(108, 24, 139);
    color: #fff;
    padding: 1em;
}
#sectionB h2 {
    padding-top: 0em;
}

.voice{
    z-index: -100;
}

audio {
    /* visibility: hidden; */
    display:block;
    margin: auto;
    z-index: -10;
 }

/* SECTION C */


/* FOOTER */

#main-footer {
    display: inline-block;
    padding: 2em;
    background: #000;
    color: #fff;
    height: 1500px;
    width: 100%;
    margin: 0;
    padding: .5em 0;
}

#main-footer h6 a {
    color: white;
    text-decoration: underline;
}

/* MEDIA QUERY */

@media(min-width: 700px) {
    ::-webkit-scrollbar {
        display: initial;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }
    #top {
        grid-column: 2/4;
    }
    #showcase {
        min-height: 500px;
    }
    #showcase h1 a {
        font-size: 4.2em;
        top: 19.5%;
    }
    #showcase .bg-image {
        padding-top: 500px;
    }
    .navbar ul {
        /* position: absolute; */
        position: sticky;
        width: 100%;
        top: 258px;
        padding: 0;
        margin: 0;
        text-align: center;
        background: rgba(106, 59, 151, 0.498);
        overflow: hidden;
        /* display: block; */
        /* align-items: center; */
        /* position: absolute; */
        /* top: 250px;
        list-style: none;
        border: 2px red; */
    }
    
    .navbar ul li {
        margin: 0 10px 0 10px;
        width: 240px;
        /* height: 40px; */
        padding: 0px;
    }


    .navbar ul li a {
        font-size: 1.5em;
        width: 240px;
    }

    /* .navbar ul li a:hover {
        background: #eaeaea;
        color: black;
    } */

    #intro h4 {
        font-size: 1em;
        margin: 0;
        padding: 1em 0 1em 0;
    }
    #intro .content-text {
        font-size: 1.3em;
        columns: 2;
        column-gap: 2.2em;
        padding: 0 1.5em 1em 1.5em;
    }
    .content-wrap{
        grid-column: 2/4;
    }
    #sectionA {
        grid-column: 1/5;
    }
    #sectionA ul{
        grid-column: 2/4;
        display: flex;
        justify-content: space-around;
    }
    #sectionA li {
        width: 40%;
    }
    #sectionB {
        grid-column: 1/5;
    }
    #sectionC{
        grid-column: 2/4;
    }
    #sectionD{
        grid-column: 2/4;
    }
    /* #main-footer {
        grid-column: 2/4;
        text-align: center;
        width: 100%;
    }
    #main-footer h6 {
        display: block;
        text-align: center;
    } */




}


/* * {
    list-style: none;
    background-color: #666666;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: rgb(91, 91, 91);
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
}

section {
    background-color: white;
    padding: 1em;
    margin: 2px;



        font-family: 'Libre Baskerville', serif;
    color: rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: #ff4a4a; 
    font-size: 75px;
    text-transform: uppercase;
    line-height: 74px; 
    font-weight: 700; 
    margin: 0px; 
    float: left; 
    padding: 10px; 
    margin: 0 5px 24px; 
    font-family: 'Libre Baskerville', serif;
    mix-blend-mode: overlay;
} */